
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid">

  <div class="row">
    <div class="col">
      <button class="btn text-light border-dark btn-sm" routerLink="/dashboard">Cancel</button>
      <button class="btn text-light border-dark btn-sm ml-2" (click)="onSave()">Save</button>
      <button class="btn text-light border-dark btn-sm ml-2" (click)="onDelete()">Delete</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <form [formGroup]="form">
        <!-- Title -->
        <div class="form-group">
          <label class="text-light" for="title">Title</label>
          <input type="text" id="title" class="form-control bg-dark text-light" formControlName="title">

          <div class="text-danger pt-2" *ngIf="form.get('title').touched && !form.get('title').value">
            * This field is required.
          </div>
        </div>

        <!-- Username / E-Mail -->
        <div class="form-group">
          <label for="username" class="text-light"> Username / E-Mail</label>
          <div class="input-group">
            <input type="text" id="username" class="form-control bg-dark text-light" formControlName="username">
            <span class="input-group-btn">
                <button class="btn btn-dark text-light bg-dark border-0" type="button"
                        [disabled]="form.get('username').touched && !form.get('username').value"
                        (click)="copyUsername()">
                  Copy
                </button>
            </span>
          </div>
          <div class="text-danger pt-2" *ngIf="form.get('username').touched && !form.get('username').value">
            * This field is required.
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password" class="text-light"> Password </label>
          <div class="input-group">
            <input type="text" id="password" class="form-control bg-dark text-light" formControlName="password">
            <span class="input-group-btn">
                <button class="btn btn-dark text-light bg-dark border-0" type="button"
                        [disabled]="form.get('password').touched && !form.get('password').value"
                        (click)="copyPassword()">
                  Copy
                </button>
            </span>
          </div>
          <div class="text-danger pt-2" *ngIf="form.get('password').touched && !form.get('password').value">
            * This field is required.
          </div>
        </div>

        <!-- Website URL -->
        <div class="form-group">
          <label for="url" class="text-light"> Website URL </label>
          <div class="input-group">
            <input type="text" id="url" class="form-control bg-dark text-light" formControlName="url">
            <span class="input-group-btn">
                <button class="btn btn-dark text-light bg-dark border-0" type="button"
                        [disabled]="form.get('url').touched && !form.get('url').value"
                        (click)="openUrl()">
                  Open
                </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="text-center text-light mt-3" *ngIf="!isLoading">
    <h6 *ngIf="credentials.last_modified_on"> last modified: {{ credentials.last_modified_on }}</h6>
    <h6 *ngIf="credentials.created_on">created: {{ credentials.created_on }}</h6>
  </div>

</div>
